.balance-link
	display: block
	padding: 0 20px 
	height: 60px
	line-height: 60px
	background: rgba(#fff, .5)
	border-radius: 10px
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5)
	color: $dark
	font-size: 16px
	text-transform: uppercase
	+transition(box-shadow .4s,background .4s)
	+bold
	&:hover
		background: rgba(#fff, .7)
	&:active
		box-shadow: none
	span
		color: $green

.btn-feedback
	display: block
	padding: 11px 10px 
	border-radius: 5px
	background: #3c474f
	text-align: center
	line-height: 1.25
	box-shadow: 0 1px 1px rgba(0,0,0,.5)
	background: #434e57 
	+g(#434e57, #374047)
	color: $gray
	font-size: 16px
	+cbold
	text-transform: uppercase
	span
		display: block  
	&:hover
		background: #374047 
		+g(#374047,#434e57)
	&:active
		box-shadow: none
.icon-metro
	display: inline-block
	vertical-align: middle
	+s(metro)
.icon-cart
	vertical-align: middle
	+svg(cart,13,11)
.icon-time
	vertical-align: middle
	display: inline-block
	+s(time)
.icon-hot
	position: absolute
	width: 17px
	height: 17px
	border-radius: 50%
	box-shadow: 0 1px 0 rgba(0,0,0,.1), inset 0 1px 0 #fff
	background: #ffdc2b 
	+g(#ffdc2b, #ff9e0f) 
	&:before
		content: ""
		position: absolute
		left: 2px
		top: 2px
		+svg(favorite,12,12) 
.address 
	display: block
	padding: 6px 10px 6px 14px 
	border-radius: 5px
	background: rgba(#000, .4)
	font-size: 14px
	color: #fff
	+reg 
	.icon-metro
		margin-right: 6px
.counter 
	display: inline-block
	vertical-align: middle
	padding: 1px 5px 3px
	border-radius: 3px
	line-height: 1
	background: #fff
	font-size: 16px
	+bold
	white-space: nowrap
	color: $dark 
	box-shadow: 0 1px 1px rgba(0,0,0,.5), inset 0 10px 0 rgba(0,0,0,.1)
	&__main
		display: inline-block
		vertical-align: middle
	&.is-finished
		.counter__main
			color: $red
			+cbold
			text-transform: uppercase
.btn-wrap
	border-top: 1px solid $border 
	padding: 17px 0 26px
	text-align: center
	.btn
		min-width: 312px	
.btn
	display: inline-block
	border: 1px solid #ffdf07
	padding: 7px 15px 
	border-radius: 10px
	background: #ffe80c
	font-size: 16px
	+cbold
	color: $dark
	text-shadow: 0 1px 0 #fff
	text-transform: uppercase 
	background: #fff111 
	+g(#fff111, #ffdf07)
	box-shadow: 0 1px 3px rgba(0,0,0,.33), inset 0 0 0 1px rgba(252,252,252,.15)
	&_height
		padding: 13px 15px 
	&:hover
		background: #ffdf07 
		+g(#ffdf07, #fff111)
	&:active
		background: #ffdf07 
		box-shadow: none 
.btn-more-wrap
	margin: 20px 0 25px 
.btn-more
	display: block
	width: 100%
	border: 1px solid #dbdddd
	padding: 14px 10px
	color: $gray_d
	+cbold 
	font-size: 16px
	text-transform: uppercase
	text-align: center  
	border-radius: 5px
	background: #edf1f1
	+tr(background .4s)
	box-shadow: 0 1px 0 rgba(0,0,0,.2), inset 0 1px 0 #fff
	&:hover
		background: #e8e9e9
	&:active
		box-shadow: inset 0 1px 0 #fff

.dots-more
	display: inline-block
	height: 50px
	width: 50px
	line-height: 50px
	text-align: center
	&:before
		content: "" 
		display: inline-block
		vertical-align: middle
		+svg(dots-more,26,6)
.tabs
	position: relative
	border-bottom: 1px solid $border
	&:after
		content: "" 
		position: absolute
		top: 0
		bottom: 0
		right: 0
		width: 85px
		+gh(rgba(#fff,.1),rgba(#fff,1) 22%)
	&__list
		white-space: nowrap
		font-size: 0
		overflow-x: auto
		padding-right: 85px
		overflow-y: hidden
		li
			display: inline-block
			vertical-align: top
			margin-left: 28px
			font-size: 16px
			+bold
			&:first-child
				margin-left: 20px
			&.is-active
				a
					color: $dark
					border-color: $blue  
		a
			display: block
			border-bottom: 4px solid transparent
			padding: 13px 0 
			color: $gray_d
			+tr(color .3s)
			&:hover
				color: $blue 
	.dots-more
		position: absolute
		right: 0
		top: 0
		z-index: 2
.tab-nav
	display: table
	position: relative
	z-index: 2
	width: 100%
	table-layout: fixed
	li
		display: table-cell
		position: relative
		vertical-align: top
		border-left: 1px solid $border 
		background: rgba(#fff, .5) 
		border-bottom: 1px solid $border 
		&:first-child
			border: 0
		&.is-active
			z-index: 2
			background: #fff 
			+shadow
			a
				color: $dark
				&:after
					content: "" 
					position: absolute
					bottom: -5px
					height: 5px
					left: 0
					right: 0
					background: #fff 
	a
		display: block
		position: relative
		padding: 0 5px 
		height: 50px
		line-height: 50px 
		color: $gray_d
		+bold
		text-align: center
		+tr(color .3s)
		&:hover
			color: $blue 
	span
		display: inline-block
		vertical-align: middle
		line-height: 1.2
.title
	margin: 23px 0 13px 
	color: $gray_d
	+cbold
	font-size: 18px
	text-align: center
	text-transform: uppercase
	&.is-success
		color: $green_l
.link-more 
	font-size: 11px
	+reg
	text-transform: uppercase
	text-align: right
	span,
	.dots-more
		vertical-align: middle
		

.number
	position: relative
	&__input
		display: block
		padding: 0 25px 
		width: 100%
		height: 40px
		font-size: 20px
		text-align: center
		+bold
		color: #000 
		border-radius: 4px 
		background: #fff
		+tr(background .4s)
		border: 2px solid #3195ec
		&:focus
			background: #fff 
	&__btn
		position: absolute
		top: 2px
		height: 36px
		width: 41px
		background: none
		text-align: center
		line-height: 1
		&:before
			content: ""
			display: inline-block
			vertical-align: middle 
	&__plus
		right: 0
		border-left: 1px solid $border 
		&:before
			+svg(plus,19,19)
	&__minus
		left: 0
		border-right: 1px solid $border 
		&:before
			+svg(minus,19,19)
		